/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../imagenes/bg1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor_principal {
    backdrop-filter: blur(20px);
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
}

/* Estilos para los botones de navegación */
.contenedor_secundario {
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    /*background-color: rgba(60, 66, 71, 0.5); */

}

.contenedor_secundario button {
    padding: 10px 20px;
    height: 45px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background: white;
    color: gray;
    outline: none;
    transition: all 300ms;
}

.contenedor_secundario button:hover {
    background: lightgray;
    color: white;
}

/* Estilos para los formularios */
.contenedor_reservas {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form {
    display: none;
    max-width: 400px;
    height: 450px;
    /* Nuevo ancho máximo para los formularios */
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

/* Resto de estilos sin cambios */


form h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: gray;
}

input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}

.boton button {
    width: 200px;
    height: 40px;
    margin: 20%;
    border-radius: 45px;
    margin-top: 45px;
    border: none;
    font-size: 15px;
    background: darkgray;
    color: white;
    cursor: pointer;
    outline: none;
}


.formulario_progreso {
    display: block;
    /* Mostrar el formulario de progreso por defecto */
}