* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url(../imagenes/bg1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

main {
    width: 100%;
    padding: 10%;
    margin: auto;
    margin-top: 100px;
}

.contenedor_todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(60, 66, 71, 0.5);
}

.caja_trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button {
    margin-top: 30px;
}

.caja_trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja_trasera button:hover {
    background: white;
    color: gray;
}

/* FORMULARIOS */

.contenedor_login-registro {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 15px;
}

.contenedor_login-registro form {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;

}

.contenedor_login-registro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: darkgray;
}

.contenedor_login-registro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}

.contenedor_login-registro form button {
    padding: 10px 20px;

    margin-top: 40px;
    border: none;
    font-size: 12px;
    background: lightgray;
    color: white;
    cursor: pointer;
    outline: none;

}

.formulario_iniciar_sesion {
    opacity: 1;
    display: block;
}

.formulario_registro {
    display: none;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }

    .caja_trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja_trasera div {
        margin: 0px;
        position: absolute;
    }

    /* FORMULARIO */

    .contenedor_login-registro {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login-registro form {
        position: relative;
    }
}